// bower:scss
// endbower

$color-background: #E7E8D1;
$color-background-dark: #D3CEAA;

*, *::before, *::after {
	box-sizing: border-box;
}

html {
	background: $color-background;
	font-family: sans-serif;
}

html, body {
	margin: 0;
}

@import "mixins";
@import "typography";
@import "components";