.controls {
	display: none;

	position: absolute;
	top: 10px;
	left: 10px;

	&.visible {
		display: inline-block;
	}

	label {
		display: block;
		font-size: 0.7em;
		font-weight: bold;
		opacity: 0.6;
	}
}